<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="{% static 'images/logo.png' %}" alt="Андрій Жук Logo" style="height: 150px; width: auto;">
            </a>
        </div>
        <nav>
            <!-- Меню навігації -->
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Андрій Жук. All rights reserved.</p>
    </footer>
</body>
</html>